
html {
    max-width: 1600px;
}

body {
    font-size: 62.5%;
    height: 100vh;
    font-family: $primary;
    color: $primaryColor;
    background: $primaryBg;
    letter-spacing: 0.19em;
    line-height: 2.5em;
    font-weight: 100;
    min-width: 320px;
    p {
        font-size: 3.9em;
    }
}
// Researched how to do css fade in, found out from stack overflow https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load
html {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
}

.centerLogo h1,
.headline{
    -webkit-animation: fadein 5s;
}

.centerLogo h2 {
    -webkit-animation: fadein 12s;
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.headline {
    position: absolute;
    top: 410px;
    left: 170px;
        h1 {
            font-size: 11.6em;
        }
}

.container {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 6.8em;
    line-height: 1em;
}

h4 {
    font-size: 4.4em;
    color: $secondaryColor;
    margin: 0 auto;
}

header,
.nameInput,
.emailInput,
.submitButton {
    width: 100%;
}

aside {
    width: calc(100% / 3);
    height: 100%;
    display: grid;
    align-items: center;
}


.button a {
    color: $primaryColor;
    font-family: $secondary;
    text-decoration: none;
    font-size: 3.8em;
    background: $accent;
    padding: 10px 35px;
    transition: ease-in-out 0.5s;
}


.button a:hover {
    color: $accent;
    background: $secondaryColor;
    box-shadow: 0 0 0.2em 0.2em;
}

input[type="text"],
input[type="email"] {
    background-color: transparent;
    border: none;
    color: $primaryColor;
    border-bottom: 1px solid $primaryColor;
    width: 100%;
    padding-left: 30px;
    caret-color: $secondaryColor;

}


form {
    display: block;
    justify-content: center;
    align-items: center;
    width: calc(100% - 30px);
    height: 100%;
    font-size: 3.9em;
    padding: 0 30px;
} 


.nameEmail {
    display: flex;
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.messageInput {
    margin: 30px auto;
    height: 55%;
}

textarea {
    resize: none;
    border: 1px solid $primaryColor;
    background-color: transparent;
    color: $primaryColor;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    caret-color: $secondaryColor;
}

button[type="submit"] {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $accent;
    border: none;
    color: $primaryColor;
    transition: ease-in-out 0.5s;
}

button[type="submit"]:hover {
    color: $secondaryColor;
    box-shadow: 0 0 0.2em 0.2em;
}

// To style placeholder font, found out from researching
::placeholder {
    opacity: 1;
    letter-spacing: 0.09em;
}


