

.homeHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}

.homeHeader img {
    width: 100%;
}

.centerLogo {
    z-index: 10;
    position: absolute;
    top: 60%;
    text-align: center;
    text-align: left;
        h1 {
            font-family: $secondary;
            font-size: 26.14em;
            margin: 5% auto;
            height: 100%;
            color: $secondaryColor;
            padding: 20px 0 10px 0;
        }
            h2 {
                font-size: 8.32em;
                padding: 10px;
            }
        
}

.headerBox {
    width: 100%;
}

.headerBox Img {
    position: absolute;
    top: 397px;
    right: 0;
    width: 50%;
    height: 650px;
}

.bannerImg img {
    width: 100%;
}

.section1 {
    width: 100%;
    padding: 100px;
    display: block;
        h3 {
            margin: 0;
        }
}

.newSpace,
.community,
.blog,
.getInTouch {
    padding: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $accent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 30px;
    transition: ease-in-out 0.5s;
}

.icon:hover {
    background: $secondaryColor;
    color: $accent;
    box-shadow: 0 0 0.7em 0.7em;
}

.section1 i {
    font-size: 3em;
}


.section1 a {
    height: 50px;
    color: $primaryColor;
    text-decoration: none;
}

.spaceComm,
.blogTouch {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

.section2 {
    background: $secondaryBg;
    display: flex;
    grid-column-gap: 15%;
}

.newLocation h3,
.newLocation .button {
    text-align: right;
}

.newLocation h3 {
    margin: 10px 0 10px 0;
}

.planAhead {
    position: relative;
    right: 0;
}

.planAhead h3 {
    margin-bottom: 0px;
}
.newLocation p {
    margin: 20px auto 40px;
    padding-left: 59px;
}

.newLocation,
.planAhead{
    width: calc(100% / 2);
}

.planAhead p {
    margin-top: 20px;
}
.leftImg {
    width: 100%;
    
}

.leftImg img {
    box-shadow: 2em 2em $secondaryColor;
    position: relative;
    top: -50px;
    left: 0;
    width: 100%;
    
}

.rightImg img {
    box-shadow: -2em 2em $secondaryColor;
    position: relative;
    bottom: -45px;
    right: 0;
    width: 100%;
    margin-top: 20px;
}

.hostParty {
    text-align: center;
    margin: 6%;
}

.hostParty h3 {
    margin-bottom: 10px;
}

.hostParty p {
    margin: 30px 20% 50px;
}

.section3 h3,
.section4 h3 {
    color: $secondaryColor;
}

.events {
    display: flex;
    padding: 100px 300px;

}

.eventsImg {
    width: 30%;
}

.eventsImg img {
    box-shadow: -2em 2em $secondaryColor;
}

.eventsInfo {
    width: 70%;
}

.eventsInfo h3 {
    margin: 10px 0 10px 0;
}

.gallery {
    background: $secondaryBg;
    padding: 50px;
    display: flex;
    justify-content: center;

}

.galleryItem {
    position: relative;
    max-width: 100%;
    margin: 20px;
}





