

.homeHeader {
    background-image: url("../barFinalAssets/homeImage1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
}

.centerLogo {
    z-index: 10;
    position: relative;
    top: 350px;
    display: grid;
    justify-content: center;
    padding: 30px;
        h1 {
            font-family: $secondary;
            font-size: 26.14em;
            margin: 5% auto;
            height: 100%;
            color: $secondaryColor;
            margin: 20px 0 10px 0;
        }
            h2 {
                font-size: 8.32em;
                padding: 10px;
            }
        
}

.headerBox Img {
    position: relative;
    bottom: 120px;
    right: -720px;
    width: 50%;
    height: 500px;
}

.section1 {
    width: 100%;
    padding: 100px;
    margin-top: 100px;
        h3 {
            margin: 0;
        }
}

.newSpace,
.community,
.blog,
.getInTouch {
    padding: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $accent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 30px;
    transition: ease-in-out 0.5s;
}

.icon:hover {
    background: $secondaryColor;
    color: $accent;
    box-shadow: 0 0 0.7em 0.7em;
}

.section1 i {
    font-size: 3em;
    padding-top: 10px;
}


.section1 a {
    height: 50px;
    color: $primaryColor;
    text-decoration: none;
}

.spaceComm,
.blogTouch {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

.section2 {
    background: $secondaryBg;
    display: flex;
    grid-column-gap: 15%;
}

.newLocation h3,
.newLocation .button {
    text-align: right;
}

.newLocation h3 {
    margin: 10px 0 10px 0;
}

.planAhead {
    position: relative;
    right: 0;
}

.planAhead h3 {
    margin-bottom: 0px;
}
.newLocation p {
    margin: 20px auto 40px;
    padding-left: 59px;
}

.newLocation,
.planAhead{
    width: calc(100% / 2);
}

.planAhead p {
    margin-top: 20px;
}
.leftImg {
    width: 100%;
    
}

.leftImg img {
    box-shadow: 2em 2em $secondaryColor;
    position: relative;
    top: -50px;
    left: 0;
    width: 100%;
    
}

.rightImg img {
    box-shadow: -2em 2em $secondaryColor;
    position: relative;
    bottom: -45px;
    right: 0;
    width: 100%;
    margin-top: 20px;
}

.hostParty {
    text-align: center;
    margin: 80px auto;
}

.hostParty h3 {
    margin-bottom: 10px;
}

.hostParty p {
    margin: 30px 20% 50px;
}

.bannerImg img {
    display: block;
    width: 100%;
}

.section3 h3,
.section4 h3 {
    color: $secondaryColor;
}

.events {
    display: flex;
    justify-content: center;
    padding: 100px 200px;
        img {
            box-shadow: -2em 2em $secondaryColor;
        }
}

.eventsImg {
    position: relative;
    max-width: 100%;
    margin: 30px 30px;
}

.eventsInfo {
    width: 70%;
    margin: 20px 70px;
}

.eventsInfo h3 {
    margin: 10px 0 10px 0;
}

.gallery {
    background: $secondaryBg;
    padding: 100px;
    display: flex;
    justify-content: center;

}

.galleryItem {
    position: relative;
    max-width: 100%;
    margin: 0px;
        img {
            width: 90%;
        }
}


@media screen and (max-width: 1200px) {
    .events {
        padding: 50px;
    }
    .headerBox img {
        display: none;
    }
}

@media screen and (max-width: 978px) {
    .spaceComm,
    .blogTouch {
        display:inline-block;
        padding: 20px;
    }

    .icon {
        margin: 0 auto;
    }

    .section1 {
        text-align: center;
        padding: 20px;
    }

    .events {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .eventsInfo {
        margin: 20px;
    }

    .galleryItem:nth-child(3n) {
        display: none;
    }

}  

@media screen and (max-width: 768px) {

    .centerLogo {
        h1 {
            font-size: 10em;
        }
            h2 {
                margin: 20px auto;
                padding: 0;
            }
    }


    .headerBox img {
        display: none;
    }

    .section2 img {
        box-shadow: none;
    }
    

    .newLocation,
    .planAhead {
        width: 100%;
            p {
                padding: 20px;
            }
    }

    .section2,
    .section2 h3,
    .section2 .button,
    .events,
    .eventsInfo {
        text-align: center;
    }

    .hostParty p {
         margin: 10px 10px 40px;
    }

    .section2,
    .events,
    .eventsInfo,
    .hostParty {
        display: inline-block;

    }

    .eventsImg {
        margin: 20px auto;
            img {
                box-shadow: none;
            }
    }

    .galleryItem:nth-child(2n) {
        display: none;
    }

    .galleryItem:first-child img {
        width: 100%;
    }

    .gallery {
        padding: 5px;
    }
}



