.navLogo {
    font-family: $tulpen;
    font-size: 6em;
    text-transform: capitalize;
    padding-bottom: 10px;
}

nav {
    position: absolute;
    width: 100%;
    top: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 3.8em;
        color:#ffffff;
        font-family: $chathura;
        transition: ease-in-out 0.5s;
    }
}

.navBar ul {
    width: calc(100% / 2);
    margin: 0 auto;
    padding: 0;
}

.navBar a:hover {
    color: $secondaryFont;
}