// font-family: 'Tulpen One', cursive;
// font-family: 'Chathura', sans-serif;

// Fonts
$tulpen: 'Tulpen One', cursive;
$chathura: 'Chathura', sans-serif;


// Colour
$primaryFont: #ffffff;
$secondaryFont: #ff8327;
$primaryBg: #111010;
$secondaryBg: #220303;
$footerBg: #323030;
$accent: #bf2603;