// font-family: 'Tulpen One', cursive;
// font-family: 'Chathura', sans-serif;

// Fonts
$primary: 'Chathura', sans-serif;
$secondary: 'Tulpen One', cursive;


// Colour
$primaryColor: #ffffff;
$secondaryColor: #ff8327;
$primaryBg: #111010;
$secondaryBg: #220303;
$footerBg: #323030;
$accent: #bf2603;
$facebook: #3b5998;
$twitter: #38A1F3;
$instagram: #fbad50;
$whatsapp: #25D366;
    
