article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #fcfcfc;
  color: #152d20;
}

.skipLink:focus {
  left: 0;
}

body {
  font-size: 62.5%;
  height: 100vh;
  font-family: "Chathura", sans-serif;
  color: #ffffff;
  background: #111010;
  letter-spacing: 0.19em;
  line-height: 2.5em;
  font-weight: 100;
  min-width: 320px;
  max-width: 1680px;
}

body p {
  font-size: 3.9em;
}

html {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
}

.centerLogo h1,
.headline {
  -webkit-animation: fadein 5s;
}

.centerLogo h2 {
  -webkit-animation: fadein 12s;
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.headline {
  position: absolute;
  top: 410px;
  left: 170px;
}

.headline h1 {
  font-size: 11.6em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h3 {
  font-size: 6.8em;
  line-height: 1em;
}

h4 {
  font-size: 4.4em;
  color: #ff8327;
  margin: 0 auto;
}

header,
.nameInput,
.emailInput,
.submitButton {
  width: 100%;
}

aside {
  width: calc(100% / 3);
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button a {
  color: #ffffff;
  font-family: "Tulpen One", cursive;
  text-decoration: none;
  font-size: 3.8em;
  background: #bf2603;
  padding: 10px 35px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.button a:hover {
  color: #bf2603;
  background: #ff8327;
  -webkit-box-shadow: 0 0 0.2em 0.2em;
          box-shadow: 0 0 0.2em 0.2em;
}

input[type="text"],
input[type="email"] {
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  padding-left: 30px;
  caret-color: #ff8327;
}

form {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 30px);
  height: 100%;
  font-size: 3.9em;
  padding: 0 30px;
}

.nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.messageInput {
  margin: 30px auto;
  height: 55%;
}

textarea {
  resize: none;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  caret-color: #ff8327;
}

button[type="submit"] {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #bf2603;
  border: none;
  color: #ffffff;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

button[type="submit"]:hover {
  color: #ff8327;
  -webkit-box-shadow: 0 0 0.2em 0.2em;
          box-shadow: 0 0 0.2em 0.2em;
}

::-webkit-input-placeholder {
  opacity: 1;
  letter-spacing: 0.09em;
}

:-ms-input-placeholder {
  opacity: 1;
  letter-spacing: 0.09em;
}

::-ms-input-placeholder {
  opacity: 1;
  letter-spacing: 0.09em;
}

::placeholder {
  opacity: 1;
  letter-spacing: 0.09em;
}

.homeHeader {
  background-image: url("../barFinalAssets/homeImage1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90%;
}

.centerLogo {
  z-index: 10;
  position: relative;
  top: 300px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.centerLogo h1 {
  font-family: "Tulpen One", cursive;
  font-size: 26.14em;
  letter-spacing: 2.4px;
  margin: 5% auto;
  height: 100%;
  color: #ff8327;
  margin: 20px 0 10px 0;
}

.centerLogo h2 {
  font-size: 8.32em;
  padding: 10px;
}

.headerBox Img {
  position: relative;
  bottom: 120px;
  right: -720px;
  width: 50%;
  height: 500px;
}

.section1 {
  width: 100%;
  padding: 100px 20px 100px 20px;
  margin-top: 100px;
}

.section1 h3 {
  margin: 0;
}

.section1 p {
  margin: 10px auto;
}

.info {
  padding: 0 10px 20px 20px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #bf2603;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 30px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.icon:hover {
  background: #ff8327;
  color: #bf2603;
  -webkit-box-shadow: 0 0 0.7em 0.7em;
          box-shadow: 0 0 0.7em 0.7em;
}

.icon i {
  padding: 30px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.icon i:hover {
  color: #bf2603;
}

.section1 i {
  font-size: 3em;
  padding-top: 10px;
}

.section1 a {
  height: 50px;
  color: #ffffff;
  text-decoration: none;
}

.spaceComm,
.blogTouch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
}

.section2 {
  background: #220303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 15%;
}

.newLocation h3,
.newLocation .button {
  text-align: right;
}

.newLocation h3 {
  margin: 10px 0 10px 0;
}

.planAhead {
  position: relative;
  right: 0;
}

.planAhead h3 {
  margin-bottom: 0px;
}

.newLocation p {
  margin: 20px auto 40px;
  padding-left: 59px;
}

.newLocation,
.planAhead {
  width: calc(100% / 2);
}

.planAhead p {
  margin-top: 20px;
}

.leftImg {
  width: 100%;
}

.leftImg img {
  -webkit-box-shadow: 2em 2em #ff8327;
          box-shadow: 2em 2em #ff8327;
  position: relative;
  top: -50px;
  left: 0;
  width: 100%;
}

.rightImg img {
  -webkit-box-shadow: -2em 2em #ff8327;
          box-shadow: -2em 2em #ff8327;
  position: relative;
  bottom: -45px;
  right: 0;
  width: 100%;
  margin-top: 20px;
}

.hostParty {
  text-align: center;
  margin: 80px auto;
}

.hostParty h3 {
  margin-bottom: 10px;
}

.hostParty p {
  margin: 30px 20% 50px;
}

.bannerImg img {
  display: block;
  width: 100%;
}

.section3 h3,
.section4 h3 {
  color: #ff8327;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 200px;
}

.events img {
  -webkit-box-shadow: -2em 2em #ff8327;
          box-shadow: -2em 2em #ff8327;
}

.eventsImg {
  position: relative;
  max-width: 100%;
  margin: 30px 30px;
}

.eventsInfo {
  width: 70%;
  margin: 20px 70px;
}

.eventsInfo h3 {
  margin: 10px 0 10px 0;
}

.gallery {
  background: #220303;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galleryItem {
  position: relative;
  max-width: 100%;
  margin: 0px;
}

.galleryItem img {
  width: 90%;
}

@media screen and (max-width: 1200px) {
  .events {
    padding: 50px;
  }
  .headerBox img {
    display: none;
  }
}

@media screen and (max-width: 978px) {
  .spaceComm,
  .blogTouch {
    display: inline-block;
    padding: 20px;
  }
  .icon {
    margin: 0 auto;
  }
  .section1 {
    text-align: center;
    padding: 20px;
  }
  .events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
  }
  .eventsInfo {
    margin: 20px;
  }
  .galleryItem:nth-child(3n) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .centerLogo h1 {
    font-size: 10em;
  }
  .centerLogo h2 {
    margin: 20px auto;
    padding: 0;
  }
  .headerBox img {
    display: none;
  }
  .section2 img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .newLocation,
  .planAhead {
    width: 100%;
  }
  .newLocation p,
  .planAhead p {
    padding: 20px;
  }
  .section2,
  .section2 h3,
  .section2 .button,
  .events,
  .eventsInfo {
    text-align: center;
  }
  .hostParty p {
    margin: 10px 10px 40px;
  }
  .section2,
  .events,
  .eventsInfo,
  .hostParty {
    display: inline-block;
  }
  .eventsImg {
    margin: 20px auto;
  }
  .eventsImg img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .galleryItem:nth-child(2n) {
    display: none;
  }
  .galleryItem:first-child img {
    width: 100%;
  }
  .gallery {
    padding: 5px;
  }
}

nav input[type="checkbox"] {
  display: none;
}

#menuToggle {
  width: 40%;
}

#menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navLogo {
  font-family: "Tulpen One", cursive;
  font-size: 6em;
  text-transform: capitalize;
  padding-bottom: 10px;
}

nav {
  width: 100%;
  top: 4%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3.8em;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  color: #ffffff;
}

nav ul {
  margin: 40px auto;
  padding: 0;
}

nav a:hover {
  color: #ff8327;
}

@media screen and (max-width: 1200px) {
  .navLogo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navLogo {
    display: none;
    padding: 0;
  }
  nav a {
    padding: 10px;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 20px;
    left: -90px;
    z-index: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bevier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bevier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bevier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bevier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bevier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-1px, 1px);
            transform: rotate(45deg) translate(-1px, 1px);
    background: #111010;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 480px;
    margin: -100px 0 0 -150px;
    padding: 50px 0 0 200px;
    padding-top: 100px;
    background: #bf2603;
    list-style-type: none;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: block;
  }
  #menu li {
    padding: 10px;
    font-size: 2.2em;
  }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
}

.blogHeader {
  background-image: url("../barFinalAssets/blogHeader1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80%;
}

.headline h1 {
  margin: 0;
  z-index: 10;
}

.blogNews {
  position: relative;
  right: 0;
  width: 60%;
}

.blogImg img {
  -webkit-box-shadow: -2em 2em #ff8327;
          box-shadow: -2em 2em #ff8327;
  width: 100%;
  position: relative;
  top: -142px;
  right: 0;
}

.blogInfo {
  background: #111010;
  padding: 30px 50px 30px 100px;
  -webkit-box-shadow: -1em 1em #ff8327;
          box-shadow: -1em 1em #ff8327;
  position: relative;
  top: -145px;
  right: 10px;
}

.blogInfo h3 {
  margin-bottom: 0;
}

.blogInfo .date {
  margin: 10px auto;
  color: #ff8327;
}

.comments {
  position: relative;
  top: -60px;
  padding-left: 70px;
}

.comments h3 {
  margin: 0 0 40px;
}

.firstComment,
.secondComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondComment {
  margin: 60px auto 10px;
}

.commentImg1,
.commentImg2 {
  margin-right: 35px;
  padding-top: 7px;
}

.commentImg1 img,
.commentImg2 img {
  width: 100px;
  height: 100px;
}

.comment {
  padding-right: 45px;
}

.comment p {
  margin-top: 20px;
  padding-right: 40px;
}

.blogForm {
  padding: 0;
}

.blogForm .submitButton {
  font-family: "Tulpen One", cursive;
  font-size: 1em;
}

.blogForm input[type="text"],
.blogForm input[type="email"] {
  border-bottom: 1px solid #ff8327;
}

.blogForm textarea {
  border: 1px solid #ff8327;
  height: 150%;
}

.blogAsideImg {
  width: 100%;
}

.blogAsideImg img {
  width: 112%;
  position: relative;
  top: -30px;
  left: -70px;
}

.blogAside {
  width: calc(100% / 3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mission h3 {
  margin: 10px 0 20px;
}

.mission p {
  margin: 0;
}

.asideContents {
  background: #220303;
  width: 80%;
  margin-top: 100px;
}

.missionRecents {
  padding-left: 30px;
}

.recents h3 {
  margin: 50px 0 10px;
}

.more {
  text-decoration: none;
  color: #ff8327;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.more:hover {
  color: #bf2603;
}

.recents ul {
  color: #bf2603;
  font-size: 1.8em;
}

.recents ul span {
  color: #ffffff;
  font-size: 2em;
  margin-left: 5px;
}

@media screen and (max-width: 1200px) {
  .nameEmail {
    display: block;
  }
}

@media screen and (max-width: 968px) {
  .container {
    display: block;
  }
  .blogAside,
  .asideContents {
    width: 100%;
    margin: 0;
  }
  .blogAsideImg {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogAsideImg img {
    max-width: 50%;
    min-width: 250px;
    left: 0;
  }
  .missionRecents {
    text-align: center;
    padding-bottom: 40px;
  }
  .recents ul {
    width: calc(100% / 2);
    margin: 10px auto;
    text-align: left;
  }
  .blogNews {
    width: 100%;
  }
  .blogImg img {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .headline {
    left: 100px;
  }
  .missionRecents {
    padding: 20px;
  }
  .recents ul {
    width: 100%;
  }
  .blogInfo {
    padding: 10px 30px 10px 30px;
    top: 0;
    right: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .comments {
    padding: 30px;
  }
  .firstComment,
  .secondComment {
    display: block;
  }
  .comment p {
    padding: 0px;
  }
}

.contactHeader {
  background-image: url("../barFinalAssets/contactHeader1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70%;
}

.headline span {
  text-transform: capitalize;
}

.contactMain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactInfo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0 40px 100px;
}

.socialMedia {
  width: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialMedia i {
  font-size: 2.5em;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.contactForm {
  position: relative;
  width: 56%;
  height: 600px;
  top: -195px;
  right: 97px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #220303;
  -webkit-box-shadow: 2em 2em #ff8327;
          box-shadow: 2em 2em #ff8327;
}

.infoEmail a {
  font-size: 3.9em;
  -webkit-transition: ease-in-out 0.5;
  transition: ease-in-out 0.5;
  line-height: 2em;
  height: 50%;
}

.infoEmail a:hover {
  color: #ff8327;
}

.mediaInfo a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #fbad50;
}

.fa-twitter:hover {
  color: #38A1F3;
}

.fa-whatsapp:hover {
  color: #25D366;
}

.address p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 968px) {
  .contactForm {
    width: 100%;
    top: 0;
    right: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  aside {
    width: 100%;
  }
  .contactInfo {
    padding: 50px;
  }
}

@media screen and (max-width: 420px) {
  .headline {
    line-height: 8em;
    left: 70px;
    top: 390px;
  }
}

footer {
  background: #323030;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

footer p {
  margin: 0 auto;
  line-height: 1.6em;
}
/*# sourceMappingURL=style.css.map */