article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #fcfcfc;
  color: #152d20;
}

.skipLink:focus {
  left: 0;
}

body {
  font-size: 62.5%;
  height: 100vh;
  font-family: "Chathura", sans-serif;
  color: #ffffff;
  background: #111010;
}

header {
  width: 100%;
}

section .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navLogo {
  font-family: "Tulpen One", cursive;
  font-size: 6em;
  text-transform: capitalize;
  padding-bottom: 10px;
}

nav {
  position: absolute;
  width: 100%;
  top: 2%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3.8em;
  color: #ffffff;
  font-family: "Chathura", sans-serif;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.navBar ul {
  width: calc(100% / 2);
  margin: 0 auto;
  padding: 0;
}

.navBar a:hover {
  color: #ff8327;
}

.contactHeader img {
  height: 100%;
  width: 100%;
}

.inTouch {
  position: absolute;
  top: 25%;
  left: 10%;
  color: #ffffff;
  font-size: 6.3em;
}

.inTouch span {
  text-transform: capitalize;
}

.inTouch h1 {
  margin: 0;
}

.contactForm {
  position: absolute;
  width: 50%;
  height: 45%;
  top: 45%;
  left: 40%;
  background: #220303;
  -webkit-box-shadow: 2em 2em #ff8327;
          box-shadow: 2em 2em #ff8327;
}

.address p {
  font-size: 3.9em;
  margin: 0;
  padding: 0;
  height: 30px;
}

footer {
  background: #323030;
}
/*# sourceMappingURL=style.css.map */